<h3 class="text-xl font-semibold ">Explore India</h3>
<h4 class="text-sm font-light mb-6">These popular destinations have a lot to offer</h4>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 justify-center">
  <a href="/listings?city=new-delhi" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col">
    <img src="https://cdn.britannica.com/37/189837-050-F0AF383E/New-Delhi-India-War-Memorial-arch-Sir.jpg"
      alt=" New-Delhi" class="w-full h-44 md:h-48 lg:h-56 object-cover" loading="lazy" />
    <h3 class="text-xl font-semibold ">New Delhi</h3>
  </a>
  <a href="/listings?city=bengaluru" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col"
    href="/listings?city=bengaluru">
    <img src="https://www.savills.com/prospects/wp-content/uploads/cities-lowdown-bengaluru-01.jpg" alt=" New-Delhi"
      class="w-full h-44 md:h-48 lg:h-56 object-cover" loading="lazy" />
    <h3 class="text-xl font-semibold ">Bengaluru</h3>
  </a>
  <a href="/listings?city=mumbai" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuOwjKtpRcPyzXGhHWx4UHDw1Z84k-hhYL8Q&s"
      alt=" New-Delhi" class="w-full h-44 md:h-48 lg:h-56 object-cover" loading="lazy" />
    <h3 class="text-xl font-semibold ">Mumbai</h3>
  </a>
  <a href="/listings?city=chennai" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col">
    <img
      src="https://images.squarespace-cdn.com/content/v1/56c13cc00442627a08632989/7a292458-5b2d-4928-a70c-8280118d7741/ChennaiAerial.jpg"
      alt=" New-Delhi" class="w-full h-44 md:h-48 lg:h-56 object-cover" loading="lazy" />
    <h3 class="text-xl font-semibold ">Chennai</h3>
  </a>
  <a href="/listings?city=hyderabad" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0f/98/f7/df/charminar.jpg?w=1400&h=1400&s=1"
      alt=" New-Delhi" class="w-full h-44 md:h-48 lg:h-56 object-cover" loading="lazy" />
    <h3 class="text-xl font-semibold ">Hydrabad</h3>
  </a>
  <a href="/listings?city=gurgaon" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col ">
    <img src="https://www.orionrealtors.com/blog/wp-content/uploads/2018/05/new-gurgaon.jpg" alt=" New-Delhi"
      class="w-full h-44 md:h-48 lg:h-56 object-cover" loading="lazy" />
    <h3 class="text-xl font-semibold ">Gurgaon</h3>
  </a>

</div>