<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create listing</title>
</head>
<body>
    <h2>create listing</h2>
    <form action="/listings" method="post"> 
        <input name="listing[title]" type="text" placeholder="enter title"> <br><br>
        <textarea name="listing[description]" id="" cols="30" rows="10" placeholder="description"></textarea> <br><br>
        <input name="listing[image]"  placeholder="enter image url"> <br><br>
        <input name="listing[price]" type="number" placeholder=" price"> <br><br>
        <input name="listing[location]" type="text" placeholder="location"> <br><br>
        <input name="listing[country]" type="text" placeholder=" country">
        <button>create</button>
    </form>
</body>
</html>