
body{
    background-color: pink;
}
.bg-clr{
    background-color: #003B95 ;
}
footer

.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info svg{
    height: 2rem;
    display: flex;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
}
